#header{

	background: url(../static/background.jpg) no-repeat center bottom;
	background-size: cover;
	height: 500px;
}

.menu-list{
	margin: 20px 0 0 0;
	color: #cc0066;
	font-size: 20px;
	font-weight: bold;
}

.menu-list li {
	padding-right: 20px;
}

.menu-list li a {
	color: #cc0066;
	font-size: 20px;
	font-weight: bold;
}
.menu-item.last{
	padding-right: 30px;
}

.headline {
	margin-top: 200px;
	color: #000000;
}

.headline h1 {
	color: #cc0066;
	text-shadow: 0 0 10px #ffffff;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Baloo', cursive;
	letter-spacing: 2px;
	
}

.h4 {
	color: #cc0066;
	text-shadow: 0 0 10px #ffffff;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Baloo', cursive;
	letter-spacing: 2px;
	
	
	
}


.listColor {
	margin-top: -40px;
	background-color: #ffe6ff;
	
}

	
	.separator {
		margin: 20px auto;
		width: 100px;
		height: 0;
		border-bottom: 3px solid #ff99bb;
	}
	

